
h2{
  text-align: center;
  }
  
  h3{
    text-align: center;
  }
  


label{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

input{
  display: block;
  margin: auto;
  
}

button {
  display: block;
  margin:auto;
  margin-top: 10px;
  

}

ul{
  text-align: center;
  list-style: none;
  margin-right: 46px;
}



  